<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="HandheldFriendly" content="True">

		<title>{{ site.title }}</title>

		<link href='https://fonts.googleapis.com/css?family=Cutive+Mono|Source+Code+Pro' rel='stylesheet' type='text/css'>
		<link rel="shortcut icon" href="/favicon.ico" />
		<link rel="stylesheet" href="/assets/css/reset.css" />
		<link rel="stylesheet" href="/assets/css/main.css" />
  </head>

	<body>
		<div class="pagewidth wrapper">

			<a href="/">
				<img src="/assets/img/logo.png" width="100" />
			</a>

			{{ content }}

			<footer>
				<a href="mailto:bart@artbek.co.uk">bart@artbek.co.uk</a>
			</footer>

		</div>

  </body>

</html>
