<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="HandheldFriendly" content="True">

		<title>{{ site.title }} | {{ page.title | default: "Home" }}</title>

		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-129656233-1"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag() { dataLayer.push(arguments); }
			gtag('js', new Date());
			gtag('config', 'UA-129656233-1');
		</script>

		<link href='https://fonts.googleapis.com/css?family=Cutive+Mono|Source+Code+Pro' rel='stylesheet' type='text/css'>
		<link rel="shortcut icon" href="/favicon.ico?20181122" />
		<link rel="stylesheet" href="/assets/css/reset.css?20181127" />
		<link rel="stylesheet" href="/assets/css/main.css?20181129" />
  </head>

	<body>
		<div class="pagewidth wrapper">

			<a href="/">
				<img src="/assets/img/logo.png" width="100" />
			</a>
			<span style="font-size: 0.6em">{{ site.posts | size }}</span>

			{% if page.id %}

				<a name="active_article" id="active_article"></a>
				<article class="active" style="text-align: {{ page.textalign | default: "left" }}">
					<h4>{{ page.backstory }}</h4>
					<h2>{{ page.title }}</h2>

					{{ content }}

					<h6>{{ page.date | date: '%d %B %Y' }}</h6>
				</article>

				<hr style="border-top: 1px dashed #222222; margin: 2.6em 0;" />

			{% endif %}


			{% for post in site.posts %}

				{% if page.id == post.id %}

					<article class="active-scroll-up" style="text-align: {{ page.textalign | default: "left" }}">
						<h2>{{ page.title }}</h2>

						<p>
							<a href="#active_article">Scroll up...</a>
						</p>

						<h6>{{ page.date | date: '%d %B %Y' }}</h6>
					</article>

				{% else %}

					<article>
						<h2>{{ post.title }}</h2>

						<p>
							<a href="{{ post.url }}">Read more...</a>
						</p>

						<h6>{{ post.date | date: '%d %B %Y' }}</h6>
					</article>

				{% endif %}

			{% endfor %}

			<footer>
				<a href="mailto:bart@artbek.co.uk">bart@artbek.co.uk</a>
			</footer>

		</div>

  </body>

</html>
